<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Вакансии компаний</title>
        <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="../lib/css/style.css" rel="stylesheet">
        <script src="../service/CompanyService.js"></script>
        <script src="../controllers/CompanyController.js"></script>
        <script src="../service/VacancyService.js"></script>
        <script src="../controllers/VacancyController.js"></script>
        <script>
            function companyClicked(id) {
                oneTime = true;
                var vacancyController = new VacancyController();
                vacancyController.getAllVacancyByIdCompanyView(id, oneTime);
            }

            function vacancyClicked(id) {
                document.location.href = "/headhunter/view/vacancy.html?id=" + id;
            }
        </script>
    </head>

    <body>

        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Вакансии</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Вакансии</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/headhunter/">Главная</a></li>
                        <li class="active"><a href="/headhunter/view/companies.html">Вакансии компаний</a></li>
                        <li><a href="/headhunter/view/insert_vacancy.html">Добавление вакансии</a></li>
                        <li><a href="/headhunter/view/update_vacancy.html">Изменение вакансии</a></li>
                        <li><a href="/headhunter/view/insert_admin.html">Добавление администратора</a></li>
                        <li><a href="/headhunter/view/update_admin.html">Изменение администратора</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row row-offcanvas row-offcanvas-right">
                <div id="vacancy" class="col-xs-12 col-sm-9"></div>
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                    <div id="company" class="list-group"></div>
                </div>
            </div>

            <hr>
            <footer>
                <p>&copy; OmSTU 2018</p>
            </footer>
        </div>
        <script src="../lib/js/jquery.min.js"></script>
        <script src="../lib/js/bootstrap.min.js"></script>

        <script>
            $(window).load(function () {
                var companyController = new CompanyController();
                var vacancyController = new VacancyController();
                var companyCount = companyController.getAllCompanyViewListGroup();

                for (var i = 1; i <= companyCount; i++) {
                    vacancyController.getAllVacancyByIdCompanyView(i);
                }
            });
            
            
            
        </script>

    </body>
</html>
