<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Добавить Вакансию</title>
        <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="../lib/css/style.css" rel="stylesheet">
        <script src="../service/CategoryService.js"></script>
        <script src="../controllers/CategoryController.js"></script>
        <script src="../service/CompanyService.js"></script>
        <script src="../controllers/CompanyController.js"></script>
        <script src="../service/BusyModeService.js"></script>
        <script src="../controllers/BusyModeController.js"></script>
    </head>
    <body>  
        
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Вакансии</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Вакансии</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/headhunter/">Главная</a></li>
                        <li><a href="/headhunter/view/companies.html">Вакансии компаний</a></li>
                        <li class="active"><a href="/headhunter/view/insert_vacancy.html">Добавить вакансию</a></li>
                        <li><a href="/headhunter/view/insert_admin.html">Добавление администратора</a></li>
                        <li><a href="/headhunter/view/update_admin.html">Изменение администратора</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <form id="InputVacancySubmit">
                        <div class="form-group">
                            <label for="InputVacancy">Введите вакансию</label>
                            <input type="text" class="form-control" id="InputVacancy" placeholder="Вакансия">
                            <label for="InputVacancySalary">Введите заработную плату</label>
                            <input type="text" class="form-control" id="InputVacancySalary" placeholder="Заработная плата">
                            <label for="InputVacancyExperience">Введите опыт работы</label>
                            <input type="text" class="form-control" id="InputVacancyExperience" placeholder="Опыт работы">
                            <label for="InputVacancyLocation">Введите Адрес</label>
                            <input type="text" class="form-control" id="InputVacancyLocation" placeholder="Адрес">
                            <label for="busyModeList">Выберите режим занятости</label>
                            <select id="busyModeList" class="form-control">
                            </select>
                            <label for="companyList">Выберите компанию</label>
                            <select id="companyList" class="form-control">
                            </select>
                            <label for="InputVacancyDescription">Введите описание</label>
                            <input type="text" class="form-control" id="InputVacancyDescription" placeholder="Описание">
                            <label for="categoryList">Выберите категорию</label>
                            <select id="categoryList" class="form-control">
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default" id="submitVacancy">Добавить</button>
                    </form>
                    
                </div>
            </div>

            <hr>
            <footer>
                <p>&copy; OmSTU 2018</p>
            </footer>
        </div>

        <script src="../lib/js/jquery.min.js"></script>
        <script src="../lib/js/bootstrap.min.js"></script>
        <script>
            var categoryController = new CategoryController();
            var categoryCount = categoryController.getAllCategoryViewListGroupListBox();
            var companyController = new CompanyController();
            var companyCount = companyController.getAllCompanyViewListGroupListBox();
            var busyModeController = new BusyModeController();
            var busyModeCount = busyModeController.getAllBusyModeListBox();
     
            $("#InputVacancySubmit").submit(function (event) {
                event.preventDefault();

                var vacancy = {
                    name: $("#InputVacancy").val(),
                    description: $("#InputVacancyDescription").val(),
                    date: Date.now(),
                    salary: $("#InputVacancySalary").val(),
                    experience: $("#InputVacancyExperience").val(),
                    location: $("#InputVacancyLocation").val(),
                    id_busymode: $("#InputVacancyBusyMode:checked").val(),
                    id_company: $("#InputVacancyCompany:checked").val(),
                    id_category: $("#InputVacancyCategory:checked").val(),
                    id_admin: 1,
                };
                
                $.ajax({
                    url: "/headhunter/InsertVacancy",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        json: JSON.stringify(vacancy)
                    },
                    success: function (data) {
                       console.log(data);
                       alert("Вакансия успешно добавлена!");
                    },
                    error: function () {
                        console.log("error");
                    }
                });
            });
        </script>
    </body>
</html>
